clone_depth: 1
configuration: Release
image: Visual Studio 2022
platform: x64
skip_tags: true

environment:
  OSGEO4W_ROOT: C:\OSGeo4W
  PGPASSWORD: Password12!
  WX_ROOT: C:\wxWidgets

install:
  - mkdir %OSGEO4W_ROOT%
  - ps: Invoke-WebRequest -Uri http://download.osgeo.org/osgeo4w/v2/osgeo4w-setup.exe -OutFile $env:OSGEO4W_ROOT\osgeo4w-setup.exe
  - call %OSGEO4W_ROOT%\osgeo4w-setup.exe -q -k -r -A -s http://download.osgeo.org/osgeo4w/v2 -P curl-devel,gdal-devel,libmysql-devel,libpng,libpq-devel,libspatialite-devel,sqlite3-devel -R %OSGEO4W_ROOT% > nul
  - SET INCLUDE=%APPVEYOR_BUILD_FOLDER%\include;C:\Libraries\boost_1_89_0;%OSGEO4W_ROOT%\include;%INCLUDE%
  - SET LIB=%OSGEO4W_ROOT%\lib;%LIB%
  - call %OSGEO4W_ROOT%\bin\o4w_env.bat
  - call C:\Qt\6.9\msvc2022_64\bin\qtenv2.bat
  - call "C:\Program Files\Microsoft Visual Studio\2022\Community\VC\Auxiliary\Build\vcvars64.bat"
  - curl -L -O -S -s https://github.com/wxWidgets/wxWidgets/releases/download/v3.3.1/wxWidgets-3.3.1.zip
  - call "C:\Program Files\7-Zip\7z.exe" x wxWidgets-3.3.1.zip -o%WX_ROOT% > nul
  - SET WXWIN=%WX_ROOT%
  - cd %WX_ROOT%\build\msw
  - nmake -f makefile.vc BUILD=release > nul
  - net start MSSQL$SQL2019
  - ps: Start-Service MySQL80
  - curl -L -O -S -s http://download.osgeo.org/postgis/windows/pg16/postgis-bundle-pg16-3.6.1x64.zip
  - call "C:\Program Files\7-Zip\7z.exe" x postgis-bundle-pg16-3.6.1x64.zip > nul
  - xcopy /s /y /q postgis-bundle-pg16-3.6.1x64 "C:\Program Files\PostgreSQL\16"
  - net start postgresql-x64-16
  - call "C:\Program Files\PostgreSQL\16\bin\psql" -U postgres -c "CREATE EXTENSION postgis;"

build_script:
  - echo example

test_script:
  - cd %APPVEYOR_BUILD_FOLDER%\test
  - SET CXXFLAGS=/DBOAT_TEST_PASSWORD=%PGPASSWORD% /DBOAT_TEST_MSSQL_HOST=(local)\\SQL2019 /DBOAT_TEST_MYSQL_HOST=localhost /DBOAT_TEST_POSTGRESQL_HOST=localhost&& nmake -f .\windows.makefile test
  - cd %APPVEYOR_BUILD_FOLDER%\test\gui\qt
  - qmake "DEFINES+='BOAT_TEST_PASSWORD=%PGPASSWORD%' 'BOAT_TEST_MSSQL_HOST=(local)\\\\SQL2019' 'BOAT_TEST_MYSQL_HOST=localhost' 'BOAT_TEST_POSTGRESQL_HOST=localhost'"
  - nmake test
  - cd %APPVEYOR_BUILD_FOLDER%\test\gui\wx
  - SET CXXFLAGS=/DBOAT_TEST_PASSWORD=%PGPASSWORD% /DBOAT_TEST_MSSQL_HOST=(local)\\SQL2019 /DBOAT_TEST_MYSQL_HOST=localhost /DBOAT_TEST_POSTGRESQL_HOST=localhost&& nmake -f .\windows.makefile test
